/* Search */
body .search__result-section {
  width: 50%;
}

/* --- Product-card --- */
body .card-product {
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none;
  animation: loadIn 1s;
  overflow: initial;
}

body .card-product .MuiCardContent-root {
  padding: 0px;
}

body .card-product .card__body {
  padding: 10px 0px 5px 0px;
}

body .card-product .card__add-to-cart {
  display: none;
}

body .card-product .card__price {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
}
.card__price .widget-price-color {
  color: #757575;
}

body .card-product .card__rating,
body .card-product .card__model {
  display: none;
}

body .card-product .CoveoResultLink {
  cursor: pointer;
  display: block;
  color: #333;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}
body .card-product .CoveoResultLink:hover {
  text-decoration: underline;
}

body .card-product .card__media {
  cursor: pointer;
  height: 420px;
  background-size: cover, 0;
  margin: 0px;
}

body .card-product .card__brand {
  cursor: default;
  font-size: 13px;
  line-height: 1;
  display: block;
  color: #757575;
  margin-bottom: 3px;
  padding: 0px;
}
body .card-product .card__brand:empty {
  display: none;
}

.result-grid {
  margin: 3% 3% 0 0;
  padding-right: 3%;
}

/* --- Product-Grouping --- */
.card-product .product-grouping {
  display: inline-block;
  width: 100%;
}
.product-grouping .product-grouping__label {
  display: none;
}

.card-product .product-grouping .grouping__thumbnail {
  display: inline-block;
  margin: 3px 6px 0 0;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  font-size: 0.6em;
  border-radius: 50%;
}

/* --- Facet Color--- */
body .CoveoFacet .facet-color-container {
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
}

body .CoveoFacet .facet-color-container .facet-list-item {
  cursor: pointer;
  position: relative;
  padding: 5px 0px 5px;
  width: 33%;
  display: inline-block;
}
body .CoveoFacet .facet-color-container .facet-list-item :hover {
  text-decoration: underline;
}
body .CoveoFacet .facet-color-container .MuiListItemText-root {
  display: inline;
  text-align: center;
}
body .CoveoFacet .facet-color-container .facet-form-control-label {
  display: block;
}
body .CoveoFacet .facet-color-container .facet-value {
  display: block;
  line-height: 1;
  white-space: pre-wrap;
  padding: 2%;
  padding-top: 3%;
}
body .CoveoFacet .facet-color-container .facet-count {
  display: none;
}
body .CoveoFacet .facet-color-container .facet-color-swatch {
  margin: auto;
  height: 36px;
  width: 36px;
  border-radius: 5px;
}

.CoveoFacet .facet-more-less-btn {
  display: flex;
  justify-content: space-between;
}

/* Image Slider and Carousel */
body .carousel {
  display: block;
}

body .image-slider__container {
  display: none;
}

/* Product Detail Page */

body .pdp__header {
  display: none;
}

body .pdp-container {
  margin: 0px;
  padding: 0px;
}

body .pdp-container .pdp-details-grid {
  padding-left: 25px;
  padding-right: 25px;
}

.pdp__price {
  margin: 0 0 5px 0;
  padding: 0;
}
.pdp__price .widget-price .display-price .price-money {
  font-size: 22px;
}
.pdp__price .widget-price-color {
  color: black;
}

.pdp__rating {
  display: flex;
  padding: 1px 0;
}

.pdp__addToCart {
  margin-top: 10px;
}
.pdp__addToCart .add-to-cart__btn {
  width: 100%;
}

.pdp__available-color .available-color {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.pdp__available-color .available-color .available-color__swatch {
  margin: 0 8px 3px 0;
  height: 42px;
  width: 42px;
  border-radius: 5px;
}
.pdp__available-color .available-color .available-color__label {
  font-size: 16px;
}

.pdp__available-color .available-color .available-color-name {
  font-size: 15px;
}

.pdp__available-size {
  margin-bottom: 18px;
}

.pdp__available-size .product-sizes {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 0;
}
.pdp__available-size .product-sizes__label {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
}

.pdp__available-size .product-sizes ul {
  padding-top: 0;
  padding-bottom: 0;
}

.pdp__available-size .product-sizes .facet-value {
  padding-left: 0;
  height: 42px;
  width: 42px;
}
.pdp__available-size .product-sizes .facet-list-item-size {
  width: 43px;
  margin-right: 8px;
  padding-top: 0;
}
