.breadcrumb__container {
  margin-bottom: 20px;
}

.breadcrumb-container {
  font-size: small;
  background: $grey-light;
}

.breadcrumb-link {
  cursor: pointer;
  color: $blue-dark;
  text-decoration: none;
}
