.header {
  height: 80px;
  background: $blue-dark;
  color: $white;
  z-index: 10;

  & > .MuiContainer-root {
    height: 100%;
  }

  .MuiToolbar-root {
    height: 100%;
    padding: 0 15px;
    position: relative;
  }

  .header-el {
    padding: 15px;
    .header-el__last {
      padding-right: 15px;
    }
  }

  .MuiAutocomplete-root {
    margin: 0 !important;
    .MuiOutlinedInput-notchedOutline {
      box-shadow: none;
      outline: none;
      border: none;
    }
  }

  .MuiInputBase-root {
    background: rgba(0, 0, 0, 0.04);
    border: none;
  }

  .MuiIconButton-root {
    &.header-icon {
      margin-left: 10px;

      .header-icon__no-hover:hover {
        background: 'none';
      }

      .header-icon__txt {
        font-size: 16px;
        color: $white;
        font-weight: bold;
      }

      & .MuiSvgIcon-root {
        width: 30px;
        height: auto;
        fill: $white;
      }
    }
  }
  .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .header-sub-tl {
    margin-left: 65px;
    color: $white;
    font-size: 14px;
    display: block;
    // letter-spacing: 1px;
    font-weight: 700;
  }

  .logo {
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: auto;
    vertical-align: bottom;
  }

  .header-icon__no-hover {
    background: none;
  }

  .MuiBadge-badge {
    font-weight: bold;
  }

  @include breakpointMax(sm) {
    .header-sub-tl {
      display: none;
    }
  }

  @include breakpointMax(xs) {
    .logo-container {
      display: none;
    }
    .MuiToolbar-root {
      height: 100%;
      padding: 0 2px;
      position: relative;
    }
    .MuiGrid-container {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      box-sizing: border-box;
    }
    .header-el {
      padding: 1px;
    }
  }
}

body.fashion {
  .header1-grid {
    margin-bottom: 40px;
  }

  .header {
    height: 150px;
    background: $white;
    color: $black;
    margin-bottom: 20px;

    .header-el {
      padding: 0;
    }

    .MuiIconButton-root {
      &.header-icon {
        padding: 8px;
        margin-left: 0;

        .header-icon__txt {
          color: $black;
        }

        & .MuiSvgIcon-root {
          fill: $black;
        }
      }
    }

    .logo-container {
      height: 50px;
      position: relative;
      margin-left: -7px;
    }

    .header-sub-tl {
      color: $black;
      font-size: 22px;
      line-height: 35px;
      text-align: left;
      font-family: 'Alegreya Sans';
      font-weight: 800;
      width: 220px;
    }

    @include breakpointMax(xs) {
      .logo-container {
        height: 30px;
        width: 30px;
        margin-left: 10px;
      }
    }
  }

  .header-left-icon__container {
    display: flex;
    align-items: center;

    .MuiBadge-badge {
      display: none;
    }

    .header-left__icon {
      height: 25px !important;
    }

    .header-left-icon__text {
      color: $black;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  body.fashion {
    .header1-grid {
      margin-bottom: 30px;
    }

    .MuiBadge-badge {
      display: flex !important;
      margin-top: 5px;
    }

    .header-left-icon__text {
      display: none;
    }

    @include breakpointMax(xs) {
      .logo-container .header-sub-tl {
        display: block !important;
        margin-left: -18px !important;
      }
    }
  }
}
