.megamenu__container {
  width: 700px;
  position: fixed;
  top: 5px !important;
  right: 10px !important;
  background: $white;
  overflow-y: scroll;
  z-index: 10;
  max-width: unset;
  padding: 0;
  max-height: calc(100vh - 200px);
  display: none;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-bottom: 4px solid $blue-dark;

  .megamenu__backdrop {
    position: fixed;
    top: 80px;
    background: rgba(100, 100, 100, 0.3);
    z-index: -1;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.show-menu {
    display: flex;
  }
}

.megamenu__right-panel {
  flex: 1;
  height: inherit;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: static;
  z-index: 1;
  background: $white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.megamenu__left-panel {
  width: 300px;
  height: inherit;
  position: static;
  z-index: 1;
  overflow: scroll;

  .megamenu__root-list {
    background: $grey-light;
    height: inherit;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .megamenu__arrow--main-item {
      color: transparent;
    }

    .megamenu__item-title {
      padding: 0 15px;

      &.MuiTypography-root {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      &:hover,
      &.active-menu-el {
        background: $blue-dark;
        color: $white;
        text-decoration: none;

        .megamenu__arrow--main-item {
          color: $white;
        }
      }
    }
  }
}

.megamenu__sublist-container {
  padding: 30px;

  .megamenu__sublist-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $blue-dark;
    font-size: 22px;
    color: #000;
  }

  .megamenu__sublist-btn {
    padding-bottom: 3px !important;
  }

  .megamenu__sublist-subtitle {
    color: #000;
  }

  .megamenu__sublist-header {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;

    .small-arrow {
      padding: 0;
      margin-left: 5px;
      .MuiSvgIcon-root {
        width: 14px;
        height: 14px;
        transition: transform 0.5s ease;
      }
    }
    &:hover {
      text-decoration: none;
      .megamenu__sublist-title {
        color: $blue-dark;
      }
      .megamenu__sublist-subtitle {
        text-decoration: underline;
      }
      .small-arrow .MuiSvgIcon-root {
        transform: translateX(5px);
      }
    }
  }

  .megamenu__sublist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.megamenu__sublist-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  flex: unset;
  padding: 0;
  margin-bottom: 20px;

  > .megamenu__sublist-title {
    width: 100%;
    cursor: pointer;
    flex: unset;
    font-size: 16px;
    font-weight: bold;

    .MuiTypography-root {
      color: $blue-dark;
      font-weight: bold;
      font-size: 16px;
    }

    &:hover {
      color: $black;
      .MuiTypography-root {
        text-decoration: underline;
      }
    }
  }

  .megamenu__sub-sublist-item {
    padding: 0;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
      .MuiListItemText-root,
      .MuiTypography-root {
        text-decoration: none;
      }
    }
  }

  .megamenu__sub-sub-list {
    width: 100%;
  }
}

.megamenu__root-list {
  width: 100%;
  padding: 0;
  display: block;
}

.megamenu__list-item {
  padding: 0;
  margin: 0;
  flex: 1;
  width: 100%;
}

.megamenu__item-title {
  color: #000;
  margin: 0;
  cursor: pointer;
  position: static;
  .container {
    position: static;
  }

  &:hover {
    color: #0046be;
    text-decoration: underline;
  }
}

//Drawer backdrop
.MuiBackdrop-root,
.MuiDrawer-modal {
  top: 80px !important;
}

//Drawer
.MuiDrawer-paper {
  top: 80px;
  width: fit-content;
}

.hidePanel {
  display: none;
}
