.widget-price {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  & sup {
    vertical-align: super;
    font-size: 0.7em;
  }

  .price-promo {
    margin-left: 10px;
  }

  .store {
    display: block;
  }
  .store {
    font-size: 15px !important;
  }
  .store-na {
    font-weight: normal;
    font-size: 8pt;
  }
  .price-promo,
  .price-regular {
    font-weight: bold;
  }
  .price-regular--discounted {
    font-weight: normal;
    text-decoration: line-through;
    padding-right: 5px;
    color: #757575;
  }
}

.widget-price-color {
  color: #fc622b;
}
