.pdp__sku-id-model {
  margin: 4px 0px;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 0;
}

.pdp-accordion-description {
  display: none;
}

.pdp__rating-reviews {
  margin-left: 10px;
  font-size: 16px;
  color: #8e959d;
}

.image-slider__container {
  display: inline-block;
  text-align: center;

  .selected-img {
    height: 400px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .img-thumbnails {
    border: 1px solid #e4eaed;
    margin-bottom: 10px;
  }
  .img-thumbnail {
    display: inline-block;
    margin: 5px 10px;
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
}

.product-detail__accordian {
  margin: 10px auto;

  .features {
    & > div {
      margin-bottom: 10px;
    }
  }

  .details {
    & tr > * {
      padding: 5px;
      margin: 0;
      border: 0;
    }
    & tr:nth-child(odd) {
      background-color: #f7f8f9;
    }
    & th {
      white-space: pre;
      text-align: left;
    }
    & td {
      white-space: pre-wrap;
    }
  }
}

.product-detail__subheader {
  margin: 10px 0;
  & > * {
    margin-right: 30px;
  }
}

.product-detail--sale {
  font-weight: bold;
  color: #ed731a;
}

.related-products {
  .related-product__label {
    font-style: normal;
  }
  .related-product__swatch {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    font-size: 0.6em;
  }
}

.carousel {
  display: none;
}
//----------Image Carousel Component--------
#pdp-image {
  margin-left: 20px;
}

.carousel_container {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  width: 630px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  .pdp-main-img-grid {
    width: 500px;
  }

  .slick-slider {
    height: 650px;
  }
  .slick-slide {
    display: flex !important;
    justify-content: center;
    img {
      height: 600px;
      margin: auto;
    }
  }
  .thumbnail-slider-wrap {
    .slick-list {
      height: 600px !important;
    }
    .slick-slide img {
      height: 100px;
      width: 85px;
      padding: 5px;
    }
    .slick-current {
      img {
        border: 1px solid black;
      }
    }
  }
  .slick-dots {
    bottom: unset;
    li {
      width: unset;
      height: unset;
    }
  }
}

@media only screen and (max-width: 600px) {
  #pdp-image {
    height: 650px;
  }
  .carousel_container {
    width: 350px;
  }
  .pdp-main-img-grid {
    width: 350px !important;
  }
  .slick-slide img {
    width: 350px;
  }
  .thumbnail-slider-wrap {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .pdp-container {
    margin: auto !important;
  }
}
