.CoveoSortBy {
  flex-direction: row !important; /* MUI v5 fix */
  align-items: center;

  .MuiFormLabel-root {
    position: relative;
    transform: translate(0, 0);
    margin-right: 10px;
  }

  .MuiInputBase-root {
    margin: 0;
  }

  .MuiSelect-select {
    padding: 3px;
  }
}
