@import "./Lib/_responsive.scss";
@import "./Lib/_colors.scss";
@import "./Lib/_typography.scss";

@import "./Components/Header.scss";
@import "./Components/Cart.scss";
@import "./Components/ProductCards.scss";
@import "./Components/ProductDetail.scss";
@import "./Components/Breadcrumb.scss";
@import "./Components/Facet.scss";
@import "./Components/NoResults.scss";
@import "./Components/Overlay.scss";
@import "./Components/SortBy.scss";
@import "./Components/Stores.scss";
@import "./Components/SearchBox.scss";
@import "./Components/MegaMenu.scss";
@import "./Components/Buttons.scss";
@import "./Components/Price.scss";
@import "./Components/Banner.scss";
@import "./Components/RelevanceInspector.scss";
@import "./Components/Recommendations.scss";
@import "./Components/Footer.scss";

@import "./Pages/SearchPage.scss";
@import "./Pages/PDP.scss";

@import "./Fashion.scss";

html,
body {
  font-size: 14px;
  //  overflow-x: hidden;
}

.layout__container {
  min-height: calc(100vh - 80px);
  .MuiBox-root {
    margin: 0;
  }
}
